#abs {
  position: fixed;
  left: var(--x, 0);
  top: var(--y, 0);
}
.star {
  //   display: none;
  @extend #abs;
  pointer-events: none;

  $s: 2em;
  height: $s;
  width: $s;
  fill: currentColor;
  path {
    stroke: none;
    fill: inherit;
  }
  animation: 1s forwards;
  //   animation-name: var(--animationName, fallingStar0);
  animation-name: var(--animationName, fallingStar0);
  transition: 200ms;
}

$x: 200%;

$transform: translateY(#{$x}) rotateX(1turn) scale(0.5);
@keyframes fallingStar0 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: $transform;
  }
}
$transform: translateY(#{$x}) rotateY(0.7turn) scale(0.5);

@keyframes fallingStar1 {
  0% {
    opacity: 0;
    // transform: scale(1.5);
  }
  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: $transform;
  }
}
$transform: translateY(#{$x}) rotateX(-0.5turn) scale(0.5);

@keyframes fallingStar2 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: $transform;
  }
}

.shadow {
  @extend #abs;
  pointer-events: none;

  height: 5px;
  aspect-ratio: 1;
  border-radius: 5em;
  box-shadow: 0 0 30px 10px rgb(76, 76, 218);
  filter: blur(20px);
  opacity: 0;
  animation: fade 0.5s forwards;
}

@keyframes fade {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(0);
  }
}

.circle {
  @extend #abs;
  pointer-events: none;

  height: 80px;
  aspect-ratio: 1;

  border-radius: 50%;
  box-shadow: 0 0 10px 4px blue;
  animation: grow 2s forwards;
  transform: translate(-50%, -50%) scale(0);
}
@keyframes grow {
  70% {
    filter: blur(10px);
    transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    opacity: 0;
    // filter: blur(10px);
    transform: translate(-50%, -50%) scale(1.4);
  }
}

// -------card

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  padding: 2em;
  // background-color: red;
  z-index: 77;

  .star {
    position: absolute;
    animation-duration: 2s;
  }
}
